.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.header h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 10px;
    color: #ffffff;
}
