.checkBox {
    display: none;
}

.checkBox + label {
    position: relative;
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--uncheckedBorder);
    cursor: pointer;
}

.checkBox:checked + label {
    border: none;
    background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}

.checkBox:checked + label::after {
    content: '';
    width: 20px;
    aspect-ratio: 1/1;
    position: absolute;
    background-image: url(../../assets/images/icon-check.svg);
    background-repeat: no-repeat;
    top: 5px;
    left: 3.5px;
}

.checkBox:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
