.addTask {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--itemHeight);
    border-radius: var(--itemBorderRadrius);
    background-color: var(--ItemsBackground);
    overflow: hidden;
    padding-left: 20px;
}

.addTask .inputText {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    margin-left: 20px;
    background: none;
    color: var(--todoText);
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.166667px;
}

.addTask .inputText::placeholder {
    color: var(--text);
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.166667px;
}

.wrapper {
    display: flex;
}

@media screen and (min-width: 415px) {
    .addTask {
        padding-left: 24px;
    }

    .addTask .inputText {
        margin-left: 24px;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.25px;
    }

    .addTask .inputText::placeholder {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.25px;
    }
}
