.todoFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--itemHeight);
    background-color: var(--ItemsBackground);
    padding-left: 20px;
    padding-right: 20px;

    color: var(--text);
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.166667px;
}

.clearCompleted:hover {
    cursor: pointer;
}

.sortToDoList {
    display: none;
}

@media screen and (min-width: 415px) {
    .todoFooter {
        padding-left: 24px;
        padding-right: 24px;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: -0.194444px;
    }
}

@media screen and (min-width: 515px) {
    .sortToDoList {
        display: block;
    }
}
